<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}

{% block body %}
   <!-- Header -->
   <header class="text-center py-5 mb-4">
     <div class="container">
       <h1 class="font-weight-light text-black">Meet the Team</h1>
     </div>
   </header>

   <!-- Page Content -->
   <div class="container">
     <div class="row">
       <!-- Team Member 1 -->
       <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-0 shadow">
           <img src="{% static 'img/lado.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Lado Rayhan Najib</h5>
             <div class="card-text text-black-50">Web Developer</div>
             <ul class="list-unstyled mb-0">
               <!-- Facebook -->
               <a class="p-2 fa-lg fb-ic">
                 <i class="fab fa-facebook-f blue-text"> </i>
               </a>
               <!-- Twitter -->
               <a class="p-2 fa-lg tw-ic">
                 <i class="fab fa-twitter blue-text"> </i>
               </a>
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic">
                 <i class="fab fa-instagram blue-text"> </i>
               </a>
             </ul>
           </div>
         </div>
       </div>
       <!-- Team Member 2 -->
       <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-0 shadow">
           <img src="{% static 'img/mumek.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Muhammad Michael</h5>
             <div class="card-text text-black-50">Web Developer</div>
             <ul class="list-unstyled mb-0">
               <!-- Facebook -->
               <a class="p-2 fa-lg fb-ic">
                 <i class="fab fa-facebook-f blue-text"> </i>
               </a>
               <!-- Twitter -->
               <a class="p-2 fa-lg tw-ic">
                 <i class="fab fa-twitter blue-text"> </i>
               </a>
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic">
                 <i class="fab fa-instagram blue-text"> </i>
               </a>
             </ul>
           </div>
         </div>
       </div>
       <!-- Team Member 3 -->
       <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-0 shadow">
           <img src="{% static 'img/habib.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Habibullah</h5>
             <div class="card-text text-black-50">Web Developer</div>
             <ul class="list-unstyled mb-0">
               <!-- Facebook -->
               <a class="p-2 fa-lg fb-ic">
                 <i class="fab fa-facebook-f blue-text"> </i>
               </a>
               <!-- Twitter -->
               <a class="p-2 fa-lg tw-ic">
                 <i class="fab fa-twitter blue-text"> </i>
               </a>
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic">
                 <i class="fab fa-instagram blue-text"> </i>
               </a>
             </ul>
           </div>
         </div>
       </div>
       <!-- Team Member 4 -->
       <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-0 shadow">
           <img src="{% static 'img/luqman.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Luqman</h5>
             <div class="card-text text-black-50">Web Developer</div>
             <ul class="list-unstyled mb-0">
               <!-- Facebook -->
               <a class="p-2 fa-lg fb-ic">
                 <i class="fab fa-facebook-f blue-text"> </i>
               </a>
               <!-- Twitter -->
               <a class="p-2 fa-lg tw-ic">
                 <i class="fab fa-twitter blue-text"> </i>
               </a>
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic">
                 <i class="fab fa-instagram blue-text"> </i>
               </a>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <!-- /.row -->

   </div>

   <header class="text-center mb-4">
     <div class="container">
       <h1 class="font-weight-light text-black">Feedback</h1>
     </div>
   </header>
   <form method="post">
     {% csrf_token %}
     <div class="form-group shadow-textarea">
       <!-- <textarea class="form-control z-depth-1" rows="5" placeholder="Write something here...">{{ feedback }}</textarea> -->
       {% for field in form %}
       {{field}}
       {% endfor %}

       <!-- <input type="submit" class="btn btn-primary float-right" value="Add"> -->
     </div>
     <button type="submit" name="button">Send</button>
   </form>



   <!-- /.container -->
{% endblock body %}
